<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ApiStores" value="http://localhost:19123/services/stores"/>
    <add key="ApiArticles" value="http://localhost:19123/services/articles"/>
    <add key="ApiArticlesStores" value="http://localhost:19123/services/articles/stores"/>
  </appSettings>
</configuration>